<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta charset="utf-8" />

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-file.js"></script>
 -->
      <link href="mdr-angular-file/dist/mdr-file.min.css">
      <script href="mdr-angular-file/dist/mdr-file.min.js"></script>
      <script href="./node_modules/fc/fc.js"></script>
      
    <script src='./javascripts/mainform.js' type="text/javascript"></script>
    

    <style>
  #dropbox { 
  width: 400px;
  border: 4px dashed #ccc; 
  padding-left: 8px;
}
.my-form {
  margin-top: 10px;
}
.gallery {
  margin: 10px;
}
.gallery img {
  margin-left: 16px;
}
.progress-bar{
  width: 200px;
  position: relative;
  height: 8px;
  margin-top: 4px;
}
.progress-bar .progress{
  height: 8px;
  background-color: #ff0000;
  width: 0;
}
body { margin: 0; }
canvas { width: 50%; height: 50% }

    </style>
  </head>
    <body>
      
      <div id="dropbox">
        <h1>Upload your stl file into this dashed area</h1> 
        <div></div><!--TODO - investigate why form includes other elements with out this-->
        <form class="my-form">
          <div class="form_line">
            <h4>To upload multiple files with the file dialog use this link</h4>
            <div class="form_controls">
              <div class="upload_button_holder">
                <input type="file" id="fileElem" multiple accept="image/*" style="display:none" onchange="handleFiles(this.files)">
                <a href="#" id="fileSelect">Upload using file browser</a>
              </div>
            </div>
          </div>
        </form>
        </div>
        <div id=viewContainer></div>
        <div class="progress-bar" id="progress-bar">
          <div class="progress" id="progress"></div>
        </div>
        <div id="gallery" >
            <p><label id="lblCompVol">vol</label></p>
            <p><label id="lblCompWeight">weight</label></p>

            <p><label type="hidden" id="custId" name="custId" value="-1"></p>
            </div>
      </div>

      <div ng-app="MainFormApp" ng-controller="mainFormCtrl">
        <!--firstController is the name of the controller function, its scope expands within this div element -->
         <label> Enter material
          <input type="text" name="stlfile" ng-model="modelData.stlpath" required>
        </label>
        <button type="button" ng-click="onClick(modelData.stlpath)" >Get Estimate</button>
        
        <p>{{modelData.stlpath}}</p>
      </div>

      <script type="text/javascript" src="./javascripts/three.min.js"></script>
      <script type="text/javascript" src="./javascripts/STLLoader.js"></script>
      <script>
      var camera, scene, renderer;
  var geometry, material, mesh,startTime;

  init();
  //animate();

  function init() {
    startTime = new Date().getTime();
    camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 0.01, 1000 );
    camera.position.z = 1;

    // Find the document element that will host the canvas.
var container = document.getElementById("viewContainer");

/* // Add canvas to the document element.
renderer = new THREE.WebGLRenderer({ alpha: true, antialias: true });
renderer.setSize(targetWidth, targetHeight );
renderer.setClearColor(0xededed, 0)
container.appendChild(renderer.domElement);

// Control for pan, zoom, rotate.
controls = new THREE.TrackballControls(camera, container);
 */
    scene = new THREE.Scene();

    //geometry = new THREE.BoxGeometry( 0.2, 0.2, 0.2 );
    /* material = new THREE.MeshNormalMaterial();

    mesh = new THREE.Mesh( geometry, material );
    scene.add( mesh ); */

    renderer = new THREE.WebGLRenderer( { antialias: true } );
    renderer.setSize( window.innerWidth/5, window.innerHeight/5 );
    container.appendChild(renderer.domElement);

    //document.body.appendChild( renderer.domElement );
    var loader = new THREE.STLLoader ();
    loader.load ('./javascripts/Star.stl', function (geometry) {    
                material = new THREE.MeshNormalMaterial();//new THREE.MeshPhongMaterial( { color: 'skyblue' } );
                mesh = new THREE.Mesh( geometry, material );
                console.log( mesh);

                scene.add( mesh );
                animate();

            } );



  }

  function animate() {

    requestAnimationFrame( animate );

    mesh.rotation.x += 0.01;
    mesh.rotation.y += 0.02;

    renderer.render( scene, camera );

    }
function computeScreenSpaceBoundingBox(mesh, camera) {
  var vertices = mesh.geometry.vertices;
  var vertex = new THREE.Vector3();
  var min = new THREE.Vector3(1);
  var max = new THREE.Vector3(-1);
  
  for (var i = 0; i < vertices.length; i++) {
  	var vertexWorldCoord = vertex.copy(vertices[i]).applyMatrix4(mesh.matrixWorld);
    var vertexScreenSpace = vertexWorldCoord.project(camera);
  	min.min(vertexScreenSpace);
    max.max(vertexScreenSpace);
  }
  
  return new THREE.Box2(min, max);
}
  </script>
   
      <script src='./javascripts/drag-drop.js' type="text/javascript"></script>
 
     </body>
</html>